@import "../../../common/css/mixin";

@decrease2: "../../components/layouts/seller/images/decrease_2";
@discount2: "../../components/layouts/seller/images/discount_2";
@guarantee2: "../../components/layouts/seller/images/guarantee_2";
@invoice2: "../../components/layouts/seller/images/invoice_2";
@special2: "../../components/layouts/seller/images/special_2";

.seller {
  position: absolute;
  top: 174px;
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    top: 199px;
  }
  bottom: 46px;
  width: 100%;
  overflow: hidden;
  background-color: #f3f5f7;
  .seller-info {
    padding: 18px;
    background: #fff;
    border-bottom: 1px solid rgba(7, 17, 27, .1);
    margin-bottom: 16px;
    .name {
      font-size: 14px;
      color: rgb(7, 17, 27);
      line-height: 14px;
      margin-bottom: 8px;
    }
    .rating-wrapper {
      padding-bottom: 18px;
      .border-1px(rgba(7, 17, 27, .1));
      .count {
        margin-left: 8px;
        font-size: 10px;
        color: rgb(77, 85, 93);
        line-height: 18px;
        vertical-align: top;
      }
    }
    .desc {
      padding-top: 18px;
      display: flex;
      .lab {
        flex: 1;
        text-align: center;
        border-right: 1px solid rgba(7, 17, 27, .1);
        &:last-child {
          border-right: none;
        }
        .title {
          font-size: 10px;
          color: rgb(147, 153, 159);
          line-height: 10px;
          margin-bottom: 4px;
        }
        .text {
          font-size: 24px;
          color: rgb(7, 17, 27);
          line-height: 24px;
          .unit {
            font-size: 10px;
          }
        }
      }
    }
  }
  .seller-summary {
    padding: 18px;
    margin-bottom: 16px;
    background: #fff;
    border-top: 1px solid rgba(7, 17, 27, .1);
    border-bottom: 1px solid rgba(7, 17, 27, .1);
    .title {
      margin-bottom: 8px;
      font-size: 14px;
      color: rgb(7, 17, 27);
      line-height: 14px;
    }
    .bulletin {
      padding: 0 12px 16px 12px;
      font-size: 12px;
      font-weight: 200;
      color: rgb(240, 20, 20);
      line-height: 24px;
      .border-1px(rgba(7, 17, 27, .1))
    }
    .support {
      padding: 16px 12px;
      .border-1px(rgba(7, 17, 27, .1));
      &:last-child {
        .border-none();
      }
      .icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        margin-right: 6px;
        vertical-align: top;
        &.decrease {
          .bg-image(@decrease2);
        }
        &.discount {
          .bg-image(@discount2);
        }
        &.guarantee {
          .bg-image(@guarantee2);
        }
        &.invoice {
          .bg-image(@invoice2);
        }
        &.special {
          .bg-image(@special2);
        }
      }
      .text {
        font-size: 12px;
        font-weight: 200;
        color: rgb(7, 17, 27);
        line-height: 16px;
        vertical-align: top;
      }
    }
  }
  .seller-view {
    padding: 18px;
    margin-bottom: 16px;
    background: #fff;
    border-top: 1px solid rgba(7, 17, 27, .1);
    border-bottom: 1px solid rgba(7, 17, 27, .1);
    .title {
      margin-bottom: 8px;
      font-size: 14px;
      color: rgb(7, 17, 27);
      line-height: 14px;
    }
    .pic-wrapper {
      width: 100%;
      height: 90px;
      white-space: nowrap;
      overflow: hidden;
      .pic {
        float: left;
        margin-right: 6px;
        width: 120px;
        height: 90px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .seller-detail {
    padding: 18px;
    background: #fff;
    border-top: 1px solid rgba(7, 17, 27, .1);
    .title {
      padding-bottom: 12px;
      font-size: 14px;
      color: rgb(7, 17, 27);
      line-height: 14px;
      .border-1px(rgba(7, 17, 27, .1));
    }
    .info {
      padding: 16px 12px;
      font-size: 12px;
      color: rgb(7, 17, 27);
      line-height: 16px;
      .border-1px(rgba(7, 17, 27, .1));
      &:last-child{
        .border-none();
      }
    }
  }
}