.ball {
  position: fixed;
  display: inline-block;
  z-index: 200;
  left: 32px;
  bottom: 22px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgb(0, 160, 220);
  transition: all .4s cubic-bezier(.49, -.29, .75, .41);
}